//主页面
.cardcat{
    border-radius: 30px;
    background-color: rgb(189, 236, 225);
    margin-bottom: 10px;
    font-size: 16px;
    z-index: 99;
    // height: 600px;
    padding-bottom: 10px;

    // 统一约束
    width: 1200px;
    margin: 0 auto;
}

//商品信息
.shopinfo{
  // padding: 0 118px;
  height: 75px;
  border-radius: 30px;
  background-color: rgb(226, 244, 239);
  line-height: 75px;
  margin:10px 10px;
}

.shoptea{
  display: flex;
}

//商品状态
.shopactive{
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 16px;
  grid-gap: 80px;
  // grid-template-columns: repeat(6, 200px);
  // grid-template-rows: 200px 400px;
}

.cardcatmain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 118px;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid #00a2ff;
  }
  .cardcat_total {
    display: flex;
  }
  //布局约束
  #sss1 {
    margin-right: 10px;
  }
  #sss3 {
    margin-right: 123px;
  }
  #sss5 {
    margin-right: 122px;
  }
  #sss4 {
    margin-right: 122px;
  }
  #cardcat_button {
    margin-top: 2px;
    margin-right: 20px;
    height: 35px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font: bold 15px Arial, sans-serif;
    border-radius: 30px;
    border-color: rgb(255, 140, 0);
    box-shadow: -1px 0 10px #b6b0ac;
  }
  //A-B盒子
  .cardcatheadA {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
    margin:0 10px;
  }
  .cardcatheadB {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /*  声明列的宽度  */
    margin:0 10px;
    // padding: 0 20px;
    /*  声明行的高度  */
  }

  #imgcss{
    border-radius: 30px;
    width: 150px;
    height: 75px;
  }

  #checkcss{
    height: 75px;
  }
  