//主页面
.cardcat{
    border-radius: 30px;
    background-color: rgb(39, 252, 202);
    height: 300px;
    margin-bottom: 10px;
}


.cardcatmain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 118px;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid #00a2ff;
  }
  .cardcat_total {
    display: flex;
  }
  //布局约束
  #sss1 {
    margin-right: 10px;
  }
  #sss3 {
    margin-right: 100px;
  }
  #cardcat_button {
    margin-top: 2px;
    margin-right: 20px;
    height: 35px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font: bold 15px Arial, sans-serif;
    border-radius: 30px;
    border-color: rgb(255, 140, 0);
    box-shadow: -1px 0 10px #b6b0ac;
  }
  //A-B盒子
  .cardcatheadA {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 118px;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
    margin-bottom: 4px;
    margin-right: -190px;
  }
  .cardcatheadB {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 145px;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
    margin-bottom: 4px;
  }
  //复选框
  #cardcat_checkbox {
    margin-left: 1px;
}